# Copy to .env and edit as needed
ADMIN_USER=admin
ADMIN_PASS=change_me
PORT=3000

# Telegram Bot settings
TELEGRAM_BOT_TOKEN=8858727791:AAEY2YuHPbIs7542e8ju8lbG2tmNV3jAl34
TELEGRAM_CHAT_ID=8459533447
